<div class="row">
    <div class="col-md-11">
        <% if (window.itsTimeToPay === true) { %>
            <strong class="primary-font text-center  pt-15 pb-15">Pay subscription to have access to the chat service</strong>
            <iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=Find%20Russian%20Friends%20Chat%20Service%20-%201%20week&targets-hint=&default-sum=350&button-text=11&payment-type-choice=on&mail=on&hint=&successURL=https%3A%2F%2Frussian-friends.com%2F&quickpay=shop&account=410016963281373" width="100%" height="250" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
            <iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=Find%20Russian%20Friends%20Chat%20Service%20-%201%20month&targets-hint=&default-sum=750&button-text=11&payment-type-choice=on&mail=on&hint=&successURL=https%3A%2F%2Frussian-friends.com%2F&quickpay=shop&account=410016963281373" width="100%" height="250" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
        <% } else { %>
        <div class="member_list chat-container">
            <ul class="list-unstyled">
                <li class="left clearfix text-center" style="font-size: 16px;">
                    <strong class="primary-font text-center  pt-15 pb-15">Your chats list</strong>
                </li>
                <% _.each( chats, function(chat,numb){ %>
                    <li class="left clearfix chat js-to-chat" data-chatid="<%= chat.id %>">
                        <% if (chat.attributes.last_message.text === "") { %>
                            <span class="chat-img pull-left">
                                <img src="<%= chat.attributes.interlocutor.avatar.src_medium %>" alt="User Avatar" class="img-circle">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header_sec">
                                    <strong class="primary-font">Click to start conversation!</strong>
                                </div>
                            </div>
                        <% } else { %>
                            <span class="chat-img pull-left">
                                <img src="<%= chat.attributes.interlocutor.avatar.src_medium %>" alt="User Avatar" class="img-circle">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header_sec">
                                    <strong class="primary-font"><%= chat.attributes.title %></strong>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <p><%= chat.attributes.last_message.text.split(' ', 10).join(' ') %></p>
                                    </div>
                                    <% if (chat.attributes.unread_count > 0) { %>
                                        <div class="col-md-1">
                                            <span class="badge" style="background-color: #e60505;"><%= chat.attributes.unread_count %></span>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                    </li>
                <% }) %>
            </ul>
        </div>
        <% } %>
    </div>
</div>
