<div class="row row-eq-height">
    <div class="col-md-11">
        <div class="card">
            <div id="myCarousel" class="carousel slide" data-ride="false" data-interval="false">
                <ol class="carousel-indicators">
                    <% _.each( meeting.owner.photos, function(photo,numb){ %>
                        <li data-target="#myCarousel" data-slide-to="<%= numb %>" class="<% if (numb === 0) { %>active<% } %>"></li>
                    <% }) %>
                </ol>
                <div class="carousel-inner" style="max-height: 350px">
                    <% if (meeting.owner.photos.length != 0) {  %>
                        <% _.each( meeting.owner.photos, function(photo,numb){ %>
                            <div class="item <% if (numb === 0) { %>active<% } %>">
                                <div style="
                                    background-image: url('<%= photo.src_original %>');
                                    height: 350px;
                                    -webkit-background-size: cover;
                                    -moz-background-size: cover;
                                    -o-background-size: cover;
                                    background-size: cover;
                                    ">
                                </div>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <div class="active">
                            <div style="
                                background-image: url('<%= meeting.owner.avatar.src_medium %>');
                                height: 350px;
                                -webkit-background-size: cover;
                                -moz-background-size: cover;
                                -o-background-size: cover;
                                background-size: cover;
                                ">
                            </div>
                        </div>
                    <% } %>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="row mt-15">
            <div class="col-md-12">
                <div class="card-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#panel1">Meeting</a></li>
                        <li><a data-toggle="tab" href="#panel2">About <%= meeting.owner.first_name %></a></li>
                    </ul>
                    <div class="tab-content mt-10">
                        <div id="panel1" class="tab-pane fade in active">
                            <h5 class="card-title"><%= meeting.title %></h5>
                            <p class="card-text"><%= meeting.description %></p>
                        </div>
                        <div id="panel2" class="tab-pane fade">
                            <h5 class="card-title"><%= meeting.owner.first_name %></h5>
                            <p class="card-text">Age: <%= meeting.owner.age %></p>
                            <p class="card-text">About: <%= meeting.owner.about %></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <% if (meeting.color_status == 'indifferent') { %>
                    <a class="btn btn-primary js-send-request">Send message</a>
                <% } else if (meeting.color_status == 'awaiting') { %>
                    <a class="btn btn-warning" disabled="true">Request was sent</a>
                <% } else if (meeting.color_status == 'approved') { %>
                    <a class="btn btn-success" disabled="true">Request was approved, let's go to chats and send message!</a>
                <% } else if (meeting.color_status == 'disapproved') { %>
                    <a class="btn btn-danger" disabled="true">Request was disapproved</a>
                <% } else if (meeting.color_status == 'mine') { %>
                    <p class="text-info">It is your event</p>
                <% } %>
            </div>
        </div>
    </div>
</div>