<div class="row">
    <div class="col-md-11">
        <div class="row">
            <div class="col-xs-offset-2 col-md-offset-2 col-xs-10 col-md-10" style="margin-bottom: 5px;">
                <strong>Chat with <%= chat.attributes.interlocutor.first_name %></strong>
                <img width="35px" height="35px" src="<%= chat.attributes.interlocutor.avatar.src_medium %>" alt="User Avatar" class="img-circle">
            </div>
        </div>
        <div class="row message mb-15" id="conversation" style="max-height: 450px;padding-top: 10px;padding-left: 10px;padding-right: 10px;">
            <% if (chat.attributes.messages.length > 0) { %>
                <% var messages = chat.attributes.messages.reverse(); %>
                <% _.each( messages, function(message,numb){ %>
                    <% if(message.is_my === false) { %>
                        <div class="row">
                            <div class="col-xs-1 col-md-1">
                                <img width="35px" height="35px" src="<%= message.author.avatar.src_medium %>" alt="User Avatar" class="img-circle">
                            </div>
                            <div class="col-xs-offset-1 col-xs-9 col-md-9">
                                <div class="receiver">
                                    <div class="message-text"><%= message.text %></div>
                                </div>
                            </div>
                        </div>
                    <% } else { %>
                        <div class="row" style="padding-bottom: 5px;">
                            <div class="col-md-10">
                                <div class="sender">
                                    <div class="message-text"><%= message.text %></div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <img width="35px" height="35px" src="<%= message.author.avatar.src_medium %>" alt="User Avatar" class="img-circle">
                            </div>
                        </div>
                    <% } %>
                <% }) %>
            <% } else { %>
                <div class="row">
                    <div class="col-xs-1 col-md-1">
                        <img width="35px" height="35px" src="<%= chat.attributes.interlocutor.avatar.src_medium %>" alt="User Avatar" class="img-circle">
                    </div>
                    <div class="col-xs-offset-1 col-xs-9 col-md-9">
                        <div class="receiver">
                            <div class="message-text">Let's start conversation with <%= chat.attributes.interlocutor.first_name %></div>
                        </div>
                    </div>
                </div>
            <% } %>

        </div>
        <div class="row reply mt-15" style="height: auto;">
            <!-- <div class="col-xs-2 col-md-2">
                <i class="fa fa-smile-o fa-2x" data-emojiable="true"></i>
            </div>-->
            <div class="col-xs-10 col-md-10">
                <textarea id="input-message-text" class="form-control" style="resize: vertical;" rows="1"></textarea>
            </div>
            <div class="col-xs-2 col-md-2 js-send-message">
                <i class="fa fa-send fa-2x" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
