<% if(message.is_my === false) { %>
    <div class="row">
        <div class="col-xs-1 col-md-1">
            <img width="35px" height="35px" src="<%= message.avatar %>" alt="User Avatar" class="img-circle">
        </div>
        <div class="col-xs-offset-1 col-xs-9 col-md-9">
            <div class="receiver">
                <div class="message-text"><%= message.text %></div>
            </div>
        </div>
    </div>
<% } else { %>
    <div class="row" style="padding-bottom: 5px;">
        <div class="col-md-10">
            <div class="sender">
                <div class="message-text"><%= message.text %></div>
            </div>
        </div>
        <div class="col-md-2">
            <img width="35px" height="35px" src="<%= message.avatar %>" alt="User Avatar" class="img-circle">
        </div>
    </div>
<% } %>