<div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-12 col-md-12" style="min-height: 80px;"></div>
    <div class="col-xs-12 col-md-12" style="min-height: 80px;"></div>
    <div class="col-xs-offset-4 col-xs-8 col-md-offset-4 col-md-8 loader">
        <span class="loader-block"></span>
        <span class="loader-block"></span>
        <span class="loader-block"></span>
        <span class="loader-block"></span>
        <span class="loader-block"></span>
        <span class="loader-block"></span>
        <span class="loader-block"></span>
        <span class="loader-block"></span>
        <span class="loader-block"></span>
    </div>
</div>
