<div class="row">
    <div class="col-md-11">
        <% if (requests.length > 0) { %>
            <% _.each( requests, function(request,numb){ %>
                <div class="card mb-15 center-block" style="
                                            padding: 10px;
                                            border-color: #e9e9e9;
                                            border-style: solid;
                                            border-width: 2px;
                                            background-color: #F8F8F8"
                >
                    <div class="row">
                        <div class="col-md-offset-1 col-md-11">
                            <img class="card-img-top" width="300px" height="300px" src="<%= request.attributes.user.avatar.src_medium %>" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-11 card-body mt-10">
                            <h5 class="card-title"><%= request.attributes.user.first_name %></h5>
                            <p class="card-text">Would like to start chat with you about your meeting - "<%= request.attributes.meeting.title %>"</p>
                            <a class="btn btn-success js-accept-request" data-requestId="<%= request.attributes.id %>">Accept</a>
                            <a class="btn btn-default js-reject-request" data-requestId="<%= request.attributes.id %>">Reject</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <div class="card mb-15 center-block" style="
                                            padding: 10px;
                                            border-color: #e9e9e9;
                                            border-style: solid;
                                            border-width: 2px;
                                            background-color: #F8F8F8">
                <div class="row">
                    <div class="col-md-offset-1 col-md-11 mt-10">
                        <h5 class="">You don't have any request</h5>
                        <p class="">Choose a meeting on the map and send request!</p>
                        <span>Or, you can <a href="#create-meeting" style="color: blue;">create</a> your own event</span>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>