<div class="row row-eq-height">
    <div class="col-md-11">
        <div id="myCarousel" class="carousel slide" data-ride="false" data-interval="false">
            <ol class="carousel-indicators">
                <% _.each( user.photos, function(photo,numb){ %>
                    <li data-target="#myCarousel" data-slide-to="<%= numb %>" class="<% if (numb === 0) { %>active<% } %>"></li>
                <% }) %>
            </ol>

            <div class="carousel-inner" style="max-height: 350px">
                <% _.each( user.photos, function(photo,numb){ %>
                    <div class="item <% if (numb === 0) { %>active<% } %>">
                        <div style="
                            background-image: url('<%= photo.src_original %>');
                            height: 350px;
                            -webkit-background-size: cover;
                            -moz-background-size: cover;
                            -o-background-size: cover;
                            background-size: cover;
                            ">
                        </div>
                    </div>
                <% }) %>
            </div>

            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="row mt-10">
            <div class="col-md-12">
                <div class="file btn btn-lg btn-primary btn-block" onclick="document.getElementById('fileInput').click();">
                    Add new photo
                    <input id="fileInput" style="display: none" type="file" name="photo"/>
                </div>
            </div>
        </div>
        <div class="row mt-15">
            <div class="col-md-12">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="first_name" placeholder="Your name" value="<%= user.first_name %>">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" id="about" placeholder="Something about you"><%= user.about %></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                    <input type="radio" class="form-check-input gender-choice" name="gender" id="gender-male"
                                           value="1" <% if (user.gender === 1) { %>checked<% } %> >Male</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                    <input type="radio" class="form-check-input gender-choice" name="gender" id="gender-female"
                                           value="0" <% if (user.gender === 0) { %>checked<% } %>>Female</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Day</label>
                                        <select id="birth-day" class="form-control form-control-lg">
                                            <% for(var day = 1; day < 32; ++day) { %>
                                              <option
                                                    <% if ( user.birth_date && _.object(['year', 'month', 'day'], user.birth_date.split('-')).day == day) { %>selected
                                                    <% } %>
                                                    value="<%= day %>"><%= day %>
                                            </option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Month</label>
                                        <select id="birth-month" class="form-control form-control-lg">
                                            <% _.each(['January','February','March','April','May','Jun','July','August','September','October','November','December'], function(month,numb){ %>
                                              <option
                                                    <% if ( user.birth_date && _.object(['year', 'month', 'day'], user.birth_date.split('-')).month == numb) { %>selected
                                                    <% } %>
                                                    value="<%= numb %>"><%= month %>
                                            </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Year</label>
                                        <select id="birth-year" class="form-control form-control-lg">
                                            <% for(var year = 1970; year < 2019; ++year) { %>
                                              <option
                                                    <% if ( user.birth_date && _.object(['year', 'month', 'day'], user.birth_date.split('-')).year == year) { %>selected
                                                    <% } %>
                                                    value="<%= year %>"><%= year %>
                                              </option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <button type="button" class="btn btn-primary js-user-save">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>