<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46723583-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-46723583-2');
    </script>

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="/static/images/fav.png">
	<!-- Meta Description -->
	<meta name="description" content="Find new russian friends">
	<!-- Meta Keyword -->
	<meta name="keywords" content="russian frieneds, find russians at world cup 2018">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Let's Go!</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/linearicons.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-social.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <!-- Global site tag (gtag.js) - Google AdWords: 824206205 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-824206205"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-824206205');
    </script>

    <!-- Event snippet for LetsGoWeb conversion page
    In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
    <script>
        function gtag_report_conversion(url) {
          var callback = function () {
            if (typeof(url) != 'undefined') {
              window.location = url;
            }
          };
          gtag('event', 'conversion', {
              'send_to': 'AW-824206205/YWV0CM2uo4QBEP3GgYkD',
              'event_callback': callback
          });
          return false;
        }

    </script>

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '456076911508548');
    fbq('track', 'PageView');
    window.fbq = fbq;
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=456076911508548&ev=PageView&noscript=1"/>
    </noscript>
<!-- End Facebook Pixel Code -->


</head>
<body>
		<div id="top"></div>
		<!-- Start Header Area -->
		<header class="default-header">
			<div class="sticky-header">
				<div class="container">
				</div>
			</div>
		</header>
		<!-- End Header Area -->
		<!-- Start Banner Area -->
		<section class="banner-area relative">
			<div class="overlay overlay-bg"></div>
			<div class="container">
				<div class="row fullscreen justify-content-center align-items-center">
					<div class="col-md-4 col-md-offset-4" style="min-height: 850px;">
						<div id="reg-form" class="banner-content text-center">
                            <div class="mt-20 mb-50">
                                <h1 class="text-uppercase text-white">Find new russian friends!</h1>
                            </div>
                            <a style="margin-top: 100px;" href="https://www.facebook.com/dialog/oauth/?client_id={{ FACEBOOK_KEY }}&app_id={{ SOCIAL_AUTH_FACEBOOK_APP_ID }}&redirect_uri={{ fb_redirect_uri }}&scope={{ FACEBOOK_EXTENDED_PERMISSIONS }}" class="mb-10 btn btn-block btn-social btn-facebook">
                                <span class="fa fa-facebook"></span> Sign in with Facebook
                            </a>
                            <a href="https://oauth.vk.com/authorize?client_id={{ vk_app_id }}&scope=email,name,info,profileinfo&redirect_uri={{ redirect_url }}&response_type=code&v=5.78" class="btn btn-block btn-social btn-vk">
                                <span class="fa fa-vk"></span> Sign in with VK
                            </a>
                            <p style="color: #212121; margin-top: 50px;">We use your social networks only for safe registration, and we don't publish any information in your social network.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer class="section-full">
			<div class="container">
				<div class="footer-bottom d-flex justify-content-between align-items-center">
					<p class="footer-text m-0">Copyright &copy; 2017  |  All rights reserved to <a href="#">Datarc inc.</a> Designed by <a href="https://colorlib.com/wp">Colorlib</a>.</p>
					<div class="footer-social d-flex align-items-center">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-dribbble"></i></a>
						<a href="#"><i class="fa fa-behance"></i></a>
					</div>
				</div>
			</div>
		</footer>

		<script src="/static/js/vendor/jquery-2.2.4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="/static/js/vendor/bootstrap.min.js"></script>
		<script src="/static/js/jquery.ajaxchimp.min.js"></script>
		<script src="/static/js/jquery.sticky.js"></script>
		<script src="/static/js/owl.carousel.min.js"></script>
		<script src="/static/js/mixitup.min.js"></script>
        <script>
            const el = document.getElementById('reg-form');
            el.onclick = function () {
                fbq('track', 'Lead');
                gtag_report_conversion();
                ga('send', 'event', ['registration'], ['click-popup'], ['Index registration'], [1], []);
            }
        </script>
	</body>
</html>
