{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46723583-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-46723583-2');
    </script>

    <meta charset="UTF-8">
    <title>Let's Go!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/images/fav.png">
	<!-- Meta Description -->
	<meta name="description" content="Find new russian friends">
	<!-- Meta Keyword -->
	<meta name="keywords" content="russian frieneds, find russians at world cup 2018">
	<!-- meta character set -->
	<meta charset="UTF-8">
    <meta name="google-signin-client_id" content="177323136310-4foevfmj7gume37ckg4m7ugg9uhkcdu3.apps.googleusercontent.com">

    <meta name="mailru-domain" content="z4jvZdx83bf2AgdQ" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/linearicons.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-social.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/demos.css">
    <link rel="stylesheet" href="/static/css/emojionearea.min.css">
    <link rel="stylesheet" href="/static/css/preloader.css">
    <link rel="stylesheet" href="/static/css/toastr.min.css">

    <script>
        function onLoadGoogleCallback(){
            gapi.load('auth2', function() {
            auth2 = gapi.auth2.init({
              client_id: '177323136310-4foevfmj7gume37ckg4m7ugg9uhkcdu3.apps.googleusercontent.com',
              cookiepolicy: 'single_host_origin',
              scope: 'profile'
            });

            let element = document.getElementById('gmail-oauth');

            auth2.attachClickHandler(element, {},
                function(googleUser) {

                    let xhr = new XMLHttpRequest();

                    let body =
                        'first_name=' + googleUser.getBasicProfile().getName() +
                        '&external_id=' + googleUser.getBasicProfile().getId() +
                        '&email=' + googleUser.getBasicProfile().getEmail();

                    xhr.open("POST", '/auth-google-confirm/', true);
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

                    xhr.onloadend = function () {
                        window.location.href = '/';
                    };

                    xhr.send(body);
                }
            );
          });
        }
    </script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoadGoogleCallback" async defer></script>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 55.751244, lng: 37.618423},
                zoom: 11
            });

            window.map = map;
            window.isInit = true;

            function CustomMarker(latlng, map, imageSrc, meetingID) {
                this.latlng_ = latlng;
                this.imageSrc = imageSrc;
                this.meetingID = meetingID;
                // Once the LatLng and text are set, add the overlay to the map.  This will
                // trigger a call to panes_changed which should in turn call draw.
                this.setMap(map);
            }

            CustomMarker.prototype = new google.maps.OverlayView();

            CustomMarker.prototype.draw = function() {
                // Check if the div has been created.
                var div = this.div_;
                if (!div) {
                    // Create a overlay text DIV
                    div = this.div_ = document.createElement('div');
                    // Create the DIV representing our CustomMarker
                    div.className = "customMarker";
                    div.setAttribute("data-id", this.meetingID);

                    var img = document.createElement("img");
                    img.src = this.imageSrc;
                    div.appendChild(img);

                    // Then add the overlay to the DOM
                    var panes = this.getPanes();
                    panes.overlayImage.appendChild(div);
                }

                // Position the overlay
                var point = this.getProjection().fromLatLngToDivPixel(this.latlng_);
                if (point) {
                    div.style.left = point.x + 'px';
                    div.style.top = point.y + 'px';
                }
            };

            CustomMarker.prototype.remove = function() {
              // Check if the overlay was on the map and needs to be removed.
                if (this.div_) {
                    this.div_.parentNode.removeChild(this.div_);
                    this.div_ = null;
                }
            };

            CustomMarker.prototype.getPosition = function() {
                return this.latlng_;
            };

            window.CustomMarker = CustomMarker;
            window.markersList = [];
            window.setMarkers = function(meetings) {
                _.each(meetings, function (meeting, pos) {
                    if (window.isInit === true) {
                        var a = new CustomMarker(
                            new google.maps.LatLng(meeting.coordinates.lat, meeting.coordinates.lng),
                            window.map,
                            meeting.owner.avatar.src_small,
                            meeting.id
                        );
                        window.markersList.push(a);
                    }
                });
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.33&key={{ map_api_key }}&callback=initMap" async defer></script>
    <script type="text/javascript" src="{% url 'js-error-handler-js' %}"></script>

    <script>
        window.ServerUrls = {
            'reg': "{% url 'registration' %}",
            'profile': "{{ urls.profile }}",
            'uploadPhotoUrl': "/upload-photo/",
            'meetings-list': {% url 'meetings-list' %},
            'meeting-detail': {% url 'meeting-detail' %},
            'confirms-list': {% url 'confirms-list' %},
            'confirms-actions': "/confirm-action/",
            'chats-list': {% url 'chats-list' %},
            'message-list': '/message-list/',
            'meeting-confirm': '/meeting-confirm/'
        };

        window.userToken = {% if token %} '{{ token }}' {% else %} false {% endif %};
        window.itsTimeToPay = {%  if is_time_to_pay %} true {% else %} false {% endif %};
        window.DEBUG = {% if is_debug %}true{% else %}false{% endif %};

        function getTokenHeader() {
            var res = false;
            if (window.userToken) {
                res = 'Token '.concat(window.userToken);
            }
            else {
                document.getElementById('regButton').click();
            }
            return res;
        }

        window.getTokenHeader = getTokenHeader;

    </script>
<!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '456076911508548');
    fbq('track', 'PageView');
    window.fbq = fbq;
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=456076911508548&ev=PageView&noscript=1"/>
    </noscript>
<!-- End Facebook Pixel Code -->
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">LetsGo!</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <li class="js-to-map"><a href="#map">Map</a></li>
              <li class=""><a href="#create-meeting">Create Meeting</a></li>
              <li class=""><a href="#chats">Chats<span id="unred-messages" class="badge" style="margin-left: 5px; background-color: #e60505; display: none;">0</span></a></li>
              <li class=""><a href="#requests">Requests<span id="unred-requests" class="badge" style="margin-left: 5px; background-color: #e60505; display: none;">0</span></a></li>
              <li class=""><a href="#user-settings">My settings</a></li>
              <li role="separator" class="divider"></li>
              <li class=""><a href="#logout">Log out<span class="sr-only">(current)</span></a></li>
          </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row equal">
    <div class="col-md-8 col-md-offset-0">
        <div id="map" style="min-height: auto"></div>
    </div>
    <div class="col-md-4">
        <div id="right-column" style="padding: 10px;"></div>
    </div>
</div>


<button id="regButton" type="button" data-toggle="modal" style="border-color: white;" data-target="#regModal"></button>
<div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-custom-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">You need to register to perform this action</h5>
      </div>
      <div id="regBlock" class="modal-body">
          <a style="margin-top: 30px;" href="https://www.facebook.com/dialog/oauth/?client_id={{ FACEBOOK_KEY }}&app_id={{ SOCIAL_AUTH_FACEBOOK_APP_ID }}&redirect_uri={{ fb_redirect_uri }}&scope={{ FACEBOOK_EXTENDED_PERMISSIONS }}" class="mb-10 btn btn-block btn-social btn-facebook">
            <span class="fa fa-facebook"></span> Sign in with Facebook</a>
          <a href="https://oauth.vk.com/authorize?client_id={{ vk_app_id }}&scope=email,name,info,profileinfo&redirect_uri={{ redirect_url }}&response_type=code&v=5.78" class="btn btn-block btn-social btn-vk">
            <span class="fa fa-vk"></span> Sign in with VK</a>
          <a id="gmail-oauth" class="btn btn-block btn-social btn-google">
            <span class="fa fa-google"></span> Sign in with Gmail</a>
          <p style="color: #212121; margin-top: 50px;">We use your social networks only for safe registration, and we don't publish any information in your social network.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/js/emojione.min.js"></script>
<script src="/static/js/emojionearea.js"></script>
<script src="/static/js/moment.js"></script>

<script type="text/template" id="user-settings-tml">{% include 'cards/user-settings.html' %}</script>
<script type="text/template" id="meeting-tml">{% include 'cards/meeting.html' %}</script>
<script type="text/template" id="requests-tml">{% include 'cards/requests.html' %}</script>
<script type="text/template" id="chats-tml">{% include 'cards/chats.html' %}</script>
<script type="text/template" id="messages-tml">{% include 'cards/messages.html' %}</script>
<script type="text/template" id="message-tml">{% include 'cards/message.html' %}</script>
<script type="text/template" id="preloader-tml">{% include 'cards/preloader.html' %}</script>
<script type="text/template" id="no-auth-tml">{% include 'cards/no-auth.html' %}</script>

<script defer data-main="/static/js/main" src="{% static 'js/libs/require.js' %}"></script>
<script src="/static/js/setcheckers.js"></script>
<script src="/static/js/applepay.js"></script>
<script>
    let regForm = document.getElementById("regBlock");
    regForm.onclick = function () {
        fbq('track', 'Lead');
    };
    ga('send', 'event', ['registration'], ['click-popup'], ['Popup registration'], [1], []);
</script>
</body>
</html>