{% load static %}

{% include 'helpers/read_notification_pixel.html' with notification_slug=notification_slug user_id=user_id %}

<div id=":135" class="ii gt">
    <div id=":136" class="a3s aXjCH m164d0fb0c3f46908">
        <u></u>
        <div style="
        background-color:#ffffff;
        margin:0;
        padding:0;
        font-family:'-apple-system','BlinkMacSystemFont','Roboto','Helvetica Neue','Helvetica','Arial','Tahoma',sans-serif;
        font-size:14px;
        font-weight:normal"
        >
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tbody>
                    <tr>
                        <td style="padding:0px 1px 0px 0px;margin:0px"></td>
                        <td align="center" valign="top" width="480" style="padding:16px 11px 0px">
                            <table cellspacing="0" cellpadding="0" border="0" style="width:100%;max-width:480px">
                                <tbody>
                                    <tr>
                                        <td align="center" valign="top" style="font-size:0px;line-height:0px;padding:24px 0px 0px 0px">
                                            <a href="https://russian-friends.com/?notification_slug={{ notification_slug }}" target="_blank">
                                                <img src="https://russian-friends.com/static/images/fav.png" width="50" height="50" alt="&nbsp;&nbsp;LetsGo!&nbsp;&nbsp;" style="vertical-align:top;border:0;outline:none;line-height:28px;color:#ffffff;background:#5181b808;border-radius:5px;font-size:16px" class="CToWUd"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top" style="padding:11px 0px 24px 0px">
                                            <table cellspacing="0" cellpadding="0" border="0" style="table-layout:fixed;width:100%">
                                                <tbody>
                                                <tr>
                                                    <td align="center" valign="top" style="padding:0px 12px;margin:0px;word-wrap:break-word;color:#000000;font-size:17px;font-weight:500;letter-spacing:-0.4px;line-height:1.41">{{ unread_count }} new <span class="il">{% if unread_count > 1 %}messages{% else %}message{% endif %}</span></td>
                                                </tr>
                                    <tr>
                                        <td align="center" valign="top" style="padding:18px 0px 0px 0px">
                                            <table cellspacing="0" cellpadding="0" border="0" width="100%" style="table-layout:fixed">
                                                <tbody>
                                                    <tr>
                                                        <td align="center" valign="top" style="border:1px solid #e7e8ec;border-radius:2px">
                                                            <table cellspacing="0" cellpadding="0" border="0" width="100%" style="table-layout:fixed">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="center" valign="top" colspan="2" style="padding:15px 15px 0">
                                                                            <table cellspacing="0" cellpadding="0" border="0" width="100%" style="table-layout:fixed">
                                                                                <tbody>
                                                                                {% for user in users %}
                                                                                    <tr>
                                                                                        <td align="left" valign="top" style="padding:0px 0px 15px 0px;margin:0px">
                                                                                            <table cellspacing="0" cellpadding="0" border="0" width="100%" style="table-layout:fixed">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td rowspan="2" align="center" valign="top" width="40" style="padding:0px">
                                                                                                            <a href="https://russian-friends.com/?notification_slug={{ notification_slug }}#chat/{{ user.chat_id }}" style="outline:none;border:0" target="_blank">
                                                                                                                <img src="{{ user.avatar }}" alt="{{ user.sender_name }}" width="40" height="40" style="vertical-align:top;border:0;outline:none;border-radius:20px;object-fit:cover" class="CToWUd"></a></td>
                                                                                                        <td align="left" valign="top" class="m_749358427516385074links" style="padding:1px 10px 0px 10px;font-size:13px;line-height:19px;word-wrap:break-word;color:#000000">
                                                                                                            <a href="https://russian-friends.com/?notification_slug={{ notification_slug }}#chat/{{ user.chat_id }}" style="text-decoration:none;font-weight:600;color:#3f6590" target="_blank" ">{{ user.sender_name }}</a> sent you a <span class="il">message — </span> <a href="https://russian-friends.com/?notification_slug={{ notification_slug }}#chat/{{ user.chat_id }}">{{ user.text }}</a>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td align="left" valign="top" class="m_749358427516385074links" style="padding:3px 0px 0 10px;font-size:13px;line-height:15px;word-wrap:break-word;color:#939699">{{ user.date }}</td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                {% endfor %}
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" style="padding-top:16px">
                                            <table cellspacing="60" cellpadding="5" border="0" style="min-width:210px;margin:0px auto">
                                                <tbody>
                                                <tr>
                                                    <td align="center" valign="top" style="padding:8px 0px 0px;margin:0px;font-size:16px;vertical-align: bottom;">
                                                        <strong>You can use our Android application:</strong>
                                                    </td>
                                                    <td align="center" valign="top" style="padding:8px 0px 0px;margin:0px;font-size:16px; vertical-align: bottom;">
                                                        <strong>Or can use our web site:</strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center" valign="top" style="padding:8px 0px 0px;margin:0px;font-size:0px">
                                                        <div>
                                                            <a href="https://play.google.com/store/apps/details?id=com.letsgoapp"><img width="150px" height="168px" src="https://russian-friends.com/static/images/android-logo-png-transparent.png"></a>
                                                        </div>
                                                    </td>
                                                    <td align="center" valign="top" style="padding:8px 0px 0px;margin:0px;font-size:0px">
                                                        <div>
                                                            <a href="https://russian-friends.com/?notification_slug={{ notification_slug }}"><img width="150px" height="158px" src="https://russian-friends.com/static/images/web-app-logo.png"></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                    </table>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="padding:0px 1px 0px 0px;margin:0px"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="yj6qo"></div>
        <div class="adL"></div>
    </div>
</div>
