<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load static %}

{% include 'letters/not_read_message.html' with notification_slug=notification_slug user_id=user_id %}
{% include 'letters/not_read_request.html' with notification_slug=notification_slug user_id=user_id %}

{% include 'letters/not_visit_users.html' with notification_slug=notification_slug user_id=user_id %}
{% include 'letters/not_visit_users_long_time.html' with notification_slug=notification_slug user_id=user_id %}

{% include 'letters/without_photo_users.html' with notification_slug=notification_slug user_id=user_id %}


</body>
</html>

User.objects.filter(photos__isnull=True).filter(Q(notifications__isnull=True) |Q(notifications__date_create__lt=three_days_ago, notifications__date_create__gte=ten_days_ago))